<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1056164838757-1ua7n798mpe2m2qhsgjbttib3me7be9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056164838757-1ua7n798mpe2m2qhsgjbttib3me7be9d</string>
	<key>API_KEY</key>
	<string>AIzaSyD1Q2jW8UCcNpiofP5x_dcLo8akNff2u_U</string>
	<key>GCM_SENDER_ID</key>
	<string>1056164838757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Elliot-Lawrence.HowBusy</string>
	<key>PROJECT_ID</key>
	<string>howbusy-220b5</string>
	<key>STORAGE_BUCKET</key>
	<string>howbusy-220b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056164838757:ios:2d1b445e1569d543</string>
	<key>DATABASE_URL</key>
	<string>https://howbusy-220b5.firebaseio.com</string>
</dict>
</plist>